* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden; 
    background-color: #22262a;
}

[id^="screen"] {
    color: #d8e0e8;
    font-family: Arial, Helvetica, sans-serif;
}

/* Tab links */
.tablinks {
    background-color: #04AA6D;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: -4px;
} 

.tab-active {
    background-color: #046642;
    font-weight: bold;
}

/* File loader */
#my_file {
    display: none;
}

#wasmView{
    height: 100%;
}

/* Simulator window */
#simProgress{
    margin-left: 5%;
    margin-top: 100px;
    width: 90%;
    visibility: collapse;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
    visibility: collapse;
  }

#myBar {
    width: 0%;
    height: 30px;
    background-color: #1d9bf0;
}

#sim-result {
    visibility: hidden; 
    height: 98%; 
    width:98%;
    margin-top: -4%;
}

#user-menu #user-icon:hover{
    background: #d8e0e8;
    border-radius: 8px;
}

#user-menu{
    position: absolute;
    height: 38px;
    width: 38px;
    background: gray;
    top: 0;
    right: 0;
    z-index: 10;
    border-radius: 8px;
}

#user-icon{
    height:100%;
    width:100%;
}

#user-content {
    display: none;
    height: 300px;
    width: 250px;
    position: relative;
    background: #d8e0e8; 
    top: 3px;
    right: 220px;
    border-radius: 10px;
    box-shadow: 0px 0px 52px 0px rgba(32, 33, 34, 0.685)
}

#user-menu-content {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#user-menu-content * {
    font-family: Arial, Helvetica, sans-serif;
}

/* RESPONSIVITY */
/* For mobile phones: */
.container {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

#screenEditor {
    height: 100%;
    width: 100%;
}

[class*="col-"] {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -45%);
  }

.title {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12pt;
    z-index: 10;
}

@media only screen and (min-width: 1500px) and (min-height: 680px) {
/* For desktop and tablet: */
    .container{
        display: flex;
        padding-left:   25px;
        padding-right:  25px;
        padding-bottom: 20px;
        padding-top:    7px;
        gap: 14px;
        width:  calc(100% - 50px);
        height: calc(100% - 490px);
    }

    .col-1  { width: calc(8.33%  - 7px); }
    .col-2  { width: calc(16.66% - 7px); }
    .col-3  { width: calc(25%    - 7px); }
    .col-4  { width: calc(33.33% - 7px); }
    .col-5  { width: calc(41.66% - 7px); }
    .col-6  { width: calc(50%    - 7px); }
    .col-7  { width: calc(58.33% - 7px); }
    .col-8  { width: calc(66.66% - 7px); }
    .col-9  { width: calc(75%    - 7px); }
    .col-10 { width: calc(83.33% - 7px); }
    .col-11 { width: calc(91.66% - 7px); }
    .col-12 { width: 100%; border-radius: 0 !important;}

    [id^="screen"] {
        background-color: #303336;
        border-radius: 8px;
    }

    #screenEditor {
        height: 470px
    }

    #user-menu{
        height: 50px;
        width: 50px;
    }

    #user-content {
        right: 208px;
    }
}