:root {
  --navbar-size: 38px;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden; 
    background-color: #22262a;
}

[id^="screen"] {
    color: #d8e0e8;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #303336;
}


.tabs-mobile {
    display: block;
    height: var(--navbar-size);
}

.tablinks {
    background-color: #04AA6D;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: -4px;
} 

.tab-active {
    background-color: #046642;
    font-weight: bold;
}

/* File loader */
#my_file {
    display: none;
}

#wasmView{
    height: 100%;
}

/* Simulator window */
#simProgress{
    margin-left: 5%;
    margin-top: 100px;
    width: 90%;
    visibility: collapse;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
    visibility: collapse;
  }

#myBar {
    width: 0%;
    height: 30px;
    background-color: #1d9bf0;
    transition: width 0.3s ease-in-out;
}

.error-msg{
    height: 95%; 
    width:95%;
    padding: 20px;
    white-space: pre-wrap;
    color: rgb(255, 99, 99);
}

/* Toggle */
.toggle{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 20;
    display: flex;
    gap: 8px;
    align-items: center;
}

/* Reconstruct Button */
#reconstructButton{
    padding: 5px 10px;
    background-color: #1d9bf0;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(32,33,34,0.10);
    transition: background 0.2s;
}

#reconstructButton:hover {
    background-color: #046642;
}

/* User menu */
#user-menu #user-icon:hover{
    background: #d8e0e8;
    border-radius: 8px;
}

#user-menu{
    position: absolute;
    height: var(--navbar-size);
    width: var(--navbar-size);
    background: gray;
    top: 0;
    right: 0;
    z-index: 30;
    border-radius: 8px;
}

#user-icon{
    height:100%;
    width:100%;
}

#user-content {
    display: none;
    height: 300px;
    width: 250px;
    position: relative;
    background: #d8e0e8; 
    top: 3px;
    right: 220px;
    border-radius: 10px;
    box-shadow: 0px 0px 52px 0px rgba(32, 33, 34, 0.685);
}

#user-menu-content {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#user-menu-content * {
    font-family: Arial, Helvetica, sans-serif;
}

/* RESPONSIVITY */
/* For mobile phones: */
.container {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

#screenEditor {
    height: 100%;
    width: 100%;
}

[class*="col-"] {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.iframe {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    width: 98%;
    height: calc(100% - 30px);
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
    visibility: hidden;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, calc(-50% + 15px));
    transform: translate(-50%, calc(-50% + 15px));
}

.title {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12pt;
    z-index: 10;
}

.loading {
    width:50px;
    height: 50px;
}

#loading-qt {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

#loading-vtk, #loading-seq{
    display: none;
}

.box{
    position:fixed;
    top: var(--navbar-size);
}

@media only screen and (min-width: 1500px) and (min-height: 680px) {
/* For desktop and tablet: */
    .box{
        position: relative;
        top: 0;
    }

    .container{
        display: flex;
        padding-left:   25px;
        padding-right:  25px;
        padding-bottom: 20px;
        padding-top:    7px;
        gap: 14px;
        width:  calc(100% - 50px);
        height: calc(100% - 490px);
    }

    .col-1  { width: calc(8.33%  - 7px); }
    .col-2  { width: calc(16.66% - 7px); }
    .col-3  { width: calc(25%    - 7px); }
    .col-4  { width: calc(33.33% - 7px); }
    .col-5  { width: calc(41.66% - 7px); }
    .col-6  { width: calc(50%    - 7px); }
    .col-7  { width: calc(58.33% - 7px); }
    .col-8  { width: calc(66.66% - 7px); }
    .col-9  { width: calc(75%    - 7px); }
    .col-10 { width: calc(83.33% - 7px); }
    .col-11 { width: calc(91.66% - 7px); }
    .col-12 { width: 100%; border-radius: 0 !important;}

    [id^="screen"] {
        border-radius: 8px;
    }

    #screenEditor {
        height: 470px
    }

    #user-menu{
        height: 50px;
        width: 50px;
    }

    #user-content {
        right: 208px;
    }

    .tabs-mobile {
        display: none;
    }

}

#logout {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 80%;
    border-radius: 4px;
    cursor: pointer;
}

#logout:hover {
    background: #0056b3;
}